Repository dnd-mentee-3rd/dnd-mentee-3rd-1-planto, pull requests merged in 2020-07, with the labels that each got.

#2 Android 프로젝트 셋업
  README.md
  front-end/Android/Planto/.gitignore
  front-end/Android/Planto/.idea/codeStyles/Project.xml
  front-end/Android/Planto/.idea/codeStyles/codeStyleConfig.xml
  front-end/Android/Planto/.idea/gradle.xml
  front-end/Android/Planto/.idea/jarRepositories.xml
  front-end/Android/Planto/.idea/misc.xml
  front-end/Android/Planto/.idea/runConfigurations.xml
  front-end/Android/Planto/.idea/vcs.xml
  front-end/Android/Planto/app/.gitignore
  front-end/Android/Planto/app/build.gradle
  front-end/Android/Planto/app/proguard-rules.pro
  front-end/Android/Planto/app/src/androidTest/java/com/example/planto/ExampleInstrumentedTest.kt
  front-end/Android/Planto/app/src/main/AndroidManifest.xml
  front-end/Android/Planto/app/src/main/java/com/example/planto/MainActivity.kt
  front-end/Android/Planto/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  front-end/Android/Planto/app/src/main/res/drawable/ic_launcher_background.xml
  front-end/Android/Planto/app/src/main/res/layout/activity_main.xml
  front-end/Android/Planto/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  front-end/Android/Planto/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  front-end/Android/Planto/app/src/main/res/mipmap-hdpi/ic_launcher.png
  front-end/Android/Planto/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  front-end/Android/Planto/app/src/main/res/mipmap-mdpi/ic_launcher.png
  front-end/Android/Planto/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  front-end/Android/Planto/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  front-end/Android/Planto/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  front-end/Android/Planto/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  front-end/Android/Planto/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  front-end/Android/Planto/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  front-end/Android/Planto/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  front-end/Android/Planto/app/src/main/res/values/colors.xml
  front-end/Android/Planto/app/src/main/res/values/strings.xml
  front-end/Android/Planto/app/src/main/res/values/styles.xml
  front-end/Android/Planto/app/src/test/java/com/example/planto/ExampleUnitTest.kt
  front-end/Android/Planto/build.gradle
  front-end/Android/Planto/gradle.properties
  front-end/Android/Planto/gradle/wrapper/gradle-wrapper.jar
  front-end/Android/Planto/gradle/wrapper/gradle-wrapper.properties
  front-end/Android/Planto/gradlew
  front-end/Android/Planto/gradlew.bat
  front-end/Android/Planto/settings.gradle
Labels: Android

#1 데이터베이스 연결 기능 추가
  back-end/env-example
  back-end/models/index.js
  back-end/package-lock.json
  back-end/package.json
  back-end/routes/index.js
Labels: Backend

#5 ios: Intro 검색 결과 VC 추가
  front-end/iOS/Planto/Planto.xcodeproj/project.pbxproj
  front-end/iOS/Planto/Planto/Assets.xcassets/스투키.imageset/Contents.json
  front-end/iOS/Planto/Planto/Assets.xcassets/스투키.imageset/temp_plant.png
  front-end/iOS/Planto/Planto/Intro/Base.lproj/Main.storyboard
  front-end/iOS/Planto/Planto/Intro/CheckPlantViewController.swift
  front-end/iOS/Planto/Planto/Intro/ConfirmPlantViewController.swift
  front-end/iOS/Planto/Planto/Intro/FindPlantViewController.swift
  front-end/iOS/Planto/Planto/Intro/NamePlantViewController.swift
  front-end/iOS/Planto/Planto/Intro/PlantFoundViewController.swift
Labels: iOS

#6 iOS : extension을 사용하여 기능별 분류
  front-end/iOS/Planto/Planto.xcodeproj/project.pbxproj
  front-end/iOS/Planto/Planto/Intro/Base.lproj/Main.storyboard
  front-end/iOS/Planto/Planto/Intro/NamePlantViewController.swift
  front-end/iOS/Planto/Planto/Intro/TakePictureViewController.swift
Labels: iOS

#9 ios: OtherPlantsVC 추가 및 오류 수정
  front-end/iOS/Planto/Planto.xcodeproj/project.pbxproj
  front-end/iOS/Planto/Planto/Helper/Constants.swift
  front-end/iOS/Planto/Planto/Intro/Base.lproj/Main.storyboard
  front-end/iOS/Planto/Planto/Intro/CheckPlantViewController.swift
  front-end/iOS/Planto/Planto/Intro/ConfirmNameViewController.swift
  front-end/iOS/Planto/Planto/Intro/ConfirmPlantViewController.swift
  front-end/iOS/Planto/Planto/Intro/FindPlantViewController.swift
  front-end/iOS/Planto/Planto/Intro/NamePlantViewController.swift
  front-end/iOS/Planto/Planto/Intro/OtherPlantsViewController.swift
  front-end/iOS/Planto/Planto/Intro/SecondIntroViewController.swift
  front-end/iOS/Planto/Planto/Intro/ThirdIntroViewController.swift
Labels: iOS

#11 android: 기본 intro 구성
  front-end/Android/Planto/.idea/gradle.xml
  front-end/Android/Planto/.idea/misc.xml
  front-end/Android/Planto/app/build.gradle
  front-end/Android/Planto/app/src/main/AndroidManifest.xml
  front-end/Android/Planto/app/src/main/java/com/example/planto/FirstIntroActivity.kt
  front-end/Android/Planto/app/src/main/java/com/example/planto/MainActivity.kt
  front-end/Android/Planto/app/src/main/java/com/example/planto/SecondIntroActivity.kt
  front-end/Android/Planto/app/src/main/java/com/example/planto/SplashScreenActivity.kt
  front-end/Android/Planto/app/src/main/java/com/example/planto/ThirdIntroActivity.kt
  front-end/Android/Planto/app/src/main/res/drawable/intro_confirm_button.xml
  front-end/Android/Planto/app/src/main/res/layout/activity_first_intro.xml
  front-end/Android/Planto/app/src/main/res/layout/activity_second_intro.xml
  front-end/Android/Planto/app/src/main/res/layout/activity_splashscreen.xml
  front-end/Android/Planto/app/src/main/res/layout/activity_third_intro.xml
  front-end/Android/Planto/app/src/main/res/values/intro_strings.xml
  front-end/Android/Planto/app/src/main/res/values/strings.xml
  front-end/Android/Planto/app/src/main/res/values/styles.xml
  front-end/Android/Planto/build.gradle
Labels: Android

#22 android: icons & intro view images
  front-end/Android/Planto/app/src/main/ic_launcher-playstore.png
  front-end/Android/Planto/app/src/main/java/com/example/planto/SecondIntroActivity.kt
  front-end/Android/Planto/app/src/main/java/com/example/planto/ThirdIntroActivity.kt
  front-end/Android/Planto/app/src/main/res/drawable-xxhdpi/to_oh_greetings.png
  front-end/Android/Planto/app/src/main/res/drawable-xxhdpi/to_oh_surprised.png
  front-end/Android/Planto/app/src/main/res/layout/activity_second_intro.xml
  front-end/Android/Planto/app/src/main/res/layout/activity_third_intro.xml
  front-end/Android/Planto/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  front-end/Android/Planto/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  front-end/Android/Planto/app/src/main/res/mipmap-hdpi/ic_launcher.png
  front-end/Android/Planto/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  front-end/Android/Planto/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  front-end/Android/Planto/app/src/main/res/mipmap-mdpi/ic_launcher.png
  front-end/Android/Planto/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  front-end/Android/Planto/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  front-end/Android/Planto/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  front-end/Android/Planto/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  front-end/Android/Planto/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  front-end/Android/Planto/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  front-end/Android/Planto/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  front-end/Android/Planto/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  front-end/Android/Planto/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  front-end/Android/Planto/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  front-end/Android/Planto/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  front-end/Android/Planto/app/src/main/res/values/ic_launcher_background.xml
  front-end/Android/Planto/app/src/main/res/values/intro_strings.xml
Labels: Android

#20 로깅 모듈 추가
  back-end/app.js
  back-end/config/logger.js
  back-end/package-lock.json
  back-end/package.json
Labels: Backend

#25 ORM 도입
  back-end/.gitignore
  back-end/README.md
  back-end/example.env
  back-end/ormconfig.json
  back-end/package-lock.json
  back-end/package.json
  back-end/src/controller/UserController.ts
  back-end/src/entity/User.ts
  back-end/src/index.ts
  back-end/src/routes.ts
  back-end/tsconfig.json
Labels: Backend
